#wrapper{
    width: 1200px;
    height: 800px;
    background-color: #1d355c;
    padding: 10px;
}

#header, #navigation, #content_body, #footer{
    color: #c3d6eb;
}

#header{
    background-color: #cc323b;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 20px;
}

#navigation{
    background-color: #2f7d8b;
    display: inline-block;
    border-radius: 20px;
}

#content_body{
    background-color: #0f1822;
    display: inline-block;
    width: 937px;
    float: right;
    padding: 15px;
    border-radius: 20px;
}

#footer{
    background-color: #5e6672;
    position: absolute;
    top: 750px;
    width: 1180px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}
